<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.INTERNET" />


    <application

        android:theme="@style/AppTheme"

        android:label="LET Online"

        android:icon="@mipmap/ic_launcher"

        android:roundIcon="@mipmap/ic_launcher_round"

        android:allowBackup="false"

        android:supportsRtl="true"

        android:usesCleartextTraffic="false">

        <activity

            android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"

            android:exported="true">

            <meta-data

                android:name="android.support.customtabs.trusted.DEFAULT_URL"

                android:value="https://let-edu.onrender.com/" />


            <meta-data

                android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR"

                android:resource="@color/let_black" />


            <meta-data

                android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR"

                android:resource="@color/let_black" />


            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>
